<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:redis.properties" ignore-unresolvable="true" />

	<!-- Redis连接池的配置信息 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<!-- 最大Idle -->
		<property name="maxIdle" value="${redis.maxIdle}" />
		<!-- 说明一个pool可以有多少个Jedis实例 -->
		<property name="maxTotal" value="${redis.maxActive}" /> <!-- maxActive为低级版本，maxTotal为最新版本 -->
		<!--最大等待wait时间 -->
		<property name="maxWaitMillis" value="${redis.maxWait}" /> <!-- maxWait为低级版本，maxWaitMillis为最新版本 -->
		<!-- return 一个jedis实例给pool时，是否检查连接可用性（ping()） -->
		<property name="testOnBorrow" value="${redis.testOnBorrow}" />
		<property name="testOnReturn" value="${redis.testOnReturn}" />
	</bean>
	
	<!-- 连接工厂 -->
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" 
		p:host-name="${redis.host}"
		p:port="${redis.port}"
		p:pool-config-ref="poolConfig">
	</bean>
	
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate" p:connection-factory-ref="jedisConnectionFactory">
		<property name="defaultSerializer">
			<bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
	</bean>
	
	<!-- jedis工具类 -->
	<bean id="redisService" class="org.redis.service.impl.RedisServiceImpl">
		<property name="redisTemplate" ref="redisTemplate" />
	</bean>
	
</beans>